!!!
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%head
  %meta(charset="utf-8")
  %title aimee daniells, photography
  %meta(content="width=device-width" name="viewport")
  %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")

  %link(rel="shortcut icon" href="/favicon.ico")
  %link(rel="apple-touch-icon" href="/apple-touch-icon.png")

  %link(href="css/flexslider.css" media="screen" rel="stylesheet" type="text/css")
  %link(href="css/shared.css" media="screen" rel="stylesheet" type="text/css")
  %link(href="css/photography.css" media="screen" rel="stylesheet" type="text/css")

  %script(type="text/javascript" src="/js/libs/modernizr-1.7.min.js")

%body
  %header
    %h1 aimee daniells, photography

    %p
      I love to take photographs. Here are some of my favourites. More can be found on my
      %a(href="http://www.flickr.com/photos/sermoa/") Flickr stream.
      %br
      Looking for my main portfolio? Here is my
      %a(href="/") web development work.

  #content
    .portfolio
      - @photos.each do |card|
        .card
          - card.each do |photo|
            %a(href="#{photo[:link]}" title="#{photo[:title]}")
              %div(class="#{photo[:size]}" style="background-image: url(#{photo[:image]}); background-size: #{photo[:stretch_style][photo[:size]]};")

    .clear(style="clear:left;")


  %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  :javascript
    window.jQuery || document.write('<script src="/js/libs/jquery-1.7.2.min.js"><\/script>')

  %script(src="/js/libs/jquery.flexslider-min.js")
  %script(src="/js/libs/css3-mediaqueries.js")
  %script(src="/js/photography.js")

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28543596-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
